*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: 'Poppins', sans-serif;
  min-width: 375px;
  font-size: .9375rem;
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 98%);
}

.container {
  width: 80%;
  margin: 0 auto;

}

.title {
  color: hsl(234, 12%, 34%);
}

.copy {
  color: hsl(229, 6%, 66%);
}

.card {
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin:0 auto 24px auto;
  max-width: 350px;
  height: 250px;
}

.card::before {
  content: '';
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 17px;
  border-radius: 5px;
}

.link {
  text-decoration: none;
}

/* start page__header  */
.page__header {
  text-align: center;
}

.container--header {
  margin-top: 83px;
  width: 90%;
}

.header__title,
.header__sub-title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: .2px
}

.header__title {
  font-weight: 200;
}

.header__sub-title {
  margin-top: 1px;
}

.header__copy {
  width: 94%;
  font-size: .9375rem;
  margin: 16px auto 0;
  letter-spacing: .1px;
  line-height: 1.65;
  max-width: 505px;
}

/* end page__header */

/* start page__content */
.page__content {
  margin-top: 76px;
}

.card--supervisor::before {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.card--team::before {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.card--karma::before {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.card--calculator::before {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.card--title {
  margin: 4px 0 0 0;
  font-size: 1.1875rem;
  letter-spacing: .3px;
}

.card--copy {
  margin: 4px 0 0 0;
  font-size: .8125rem;
  line-height: 1.7;
  /* padding-bottom: 118px; */
}

.card--img {
  position: absolute;
  z-index: 1;
  width: 57px;
  right: 27px;
  bottom: 28px;
}

/* end page__content */

/* start page__footer */
.attribution {
  text-align: center;
  font-size: .625rem;
}
/* end page__footer */

@media only screen and (min-width: 800px) {
    /* start page__header  */
    .container--header {
      margin-top: 77px;
    }
  
    .header__title {
      font-size: 2.25rem;
    }
  
    .header__sub-title {
      font-size: 2.25rem;
      margin-top: -3px;
    }
  
    .header__copy {
      width: 39%;
      min-width: 418px;
      margin-top: 15px;
    }
  
    /* end page__header  */

      /* start page__content */
  .page__content {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 250px 250px;
    grid-template-areas: "left right""left right";
    margin-top: 63px;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
  }

  .card--supervisor {
    grid-area: left;
    align-self: start;
  }

  .card--team {
    grid-area: left;
    align-self: end;
  }

  .card--karma {
    grid-area: right;
    align-self: start;
  }

  .card--calculator {
    grid-area: right;
    align-self: end;

  }

  /* end page__content */
  .card {
    margin: 0;
  }

  .card--title {
    margin: 10px 0 0 -3px;
    letter-spacing: .5px
  }

  .card--copy {
    margin: 9px 0 0 -3px;
    letter-spacing: .1px;
  }

  .card--img {
    width: 64px;
    right: 32px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 1180px) {
  .page {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* start page__content */
  .page__content {
 
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 250px 250px;
    grid-template-areas: "left middle right""left middle right";
  }

  .card--supervisor {
    align-self: initial;
  }

  .card--team {
    grid-area: middle;
    align-self: start;
  }

  .card--karma {
    grid-area: middle;
    align-self: end;
  }

  .card--calculator {
    align-self: initial;

  }

  /* end page__content */
}